body {
    width: 1600px;
    margin: 0 auto;
    background-color: #ffffff;
    font-family: Mulish;
}

.topHeader {
    position: relative;
    overflow: hidden;

    .topNav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 56px 192px 0 191px;


        img {
            width: 160px;
            height: 41px;
        }

        .topNavLinks {
            list-style: none;
            text-decoration: none;
            width: 545px;
            height: 23px;
            display: flex;
            justify-content: space-between;
            align-items: center;


            a {
                text-decoration: none;
                font-style: Mulish;
                font-size: 18px;
                color: #1f1534;
                opacity: 0.5;
            }

            a.homeBold {
                opacity: 1;
                font-weight: 500;
            }
        }
    }

    #headerDecoration {
        position: absolute;
        width: 131.58px;
        height: 115px;
        left: -50px;
        top: 160px;
    }

    .topHeaderElements {
        display: flex;
        justify-content: space-between;
        // align-items: center;
        width: 1247px;
        height: 598px;
        padding: 83px 163px 0 190px;

        .textButton {
            margin: 26px 109px 154px 0;
            width: 445px;
            height: 338px;

            &>p:first-child {
                width: 427px;
                height: 112px;
                color: #000000;
                font-size: 48px;
                font-weight: 700;
                line-height: 56px;
                //padding: 0 18px 0 0;

            }

            // Nesigauna tekstas sitoje vietoje. Nu niekaip neatsistoja kaip, kad turetu buti.
            // Gavosi.. font-weight: 300; buvo atsakymas. skaitosi kaip "ligt" fontas

            &>p:nth-child(2) {
                width: 445px;
                height: 96px;
                color: #7D7987;
                font-size: 21px;
                line-height: 32px;
                font-weight: 300;
                //letter-spacing: -0.5px;
                margin: 25px 0 45px 0;

            }

            button {
                width: 200px;
                height: 56px;
                color: #ffffff;
                font-weight: 500;
                font-size: 18px;
                background-color: #458ff6;
                border-radius: 55px;
                border: none;
                cursor: pointer;
            }
        }

        img {
            width: 693px;
            height: 598px;
        }
    }
}



.firstSection {

    .firstSectionTop {
    display: flex;
    flex-direction: column;
    align-items: center;

        .p_one {
            font-size: 36px;
            color: #000000;
            line-height: 56px;
        }

    }
}