body {
    width: 1600px;
    margin: 0 auto;
    background-color: #ffffff;
    font-family: Mulish;
}

.topHeader {
    position: relative;
    overflow: hidden;

    .topNav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 56px 192px 0 191px;


        img {
            width: 160px;
            height: 41px;
        }

        .topNavLinks {
            list-style: none;
            text-decoration: none;
            width: 545px;
            height: 23px;
            display: flex;
            justify-content: space-between;
            align-items: center;


            a {
                text-decoration: none;
                font-style: Mulish;
                font-size: 18px;
                color: #1f1534;
                opacity: 0.5;
            }

            a.homeBold {
                opacity: 1;
                font-weight: 500;
            }
        }
    }

    #headerDecoration {
        position: absolute;
        width: 131.58px;
        height: 115px;
        left: -50px;
        top: 160px;
    }

    .topHeaderElements {
        display: flex;
        justify-content: space-between;
        // align-items: center;
        width: 1247px;
        height: 598px;
        padding: 83px 163px 0 190px;

        .textButton {
            margin: 26px 109px 154px 0;
            width: 445px;
            height: 338px;

            &>p:first-child {
                width: 427px;
                height: 112px;
                color: #000000;
                font-size: 48px;
                font-weight: 700;
                line-height: 56px;
                //padding: 0 18px 0 0;

            }

            // Nesigauna tekstas sitoje vietoje. Nu niekaip neatsistoja kaip, kad turetu buti.
            // Gavosi.. font-weight: 300; buvo atsakymas. skaitosi kaip "ligt" fontas

            &>p:nth-child(2) {
                width: 445px;
                height: 96px;
                color: #7D7987;
                font-size: 21px;
                line-height: 32px;
                font-weight: 300;
                //letter-spacing: -0.5px;
                margin: 25px 0 45px 0;

            }

            button {
                width: 200px;
                height: 56px;
                color: #ffffff;
                font-weight: 500;
                font-size: 18px;
                background-color: #458ff6;
                border-radius: 55px;
                border: none;
                cursor: pointer;
            }

            button:hover {
                background-color: #ffffff;
                color: #458ff6;
                border: 1px solid #458ff6;
            }
        }

        img {
            width: 693px;
            height: 598px;
        }
    }
}



.firstSection {
    margin-top: 190px;
    position: relative;
    overflow: hidden;

    .bgimg1 {
        position: absolute;
        width: 938px;
        height: 671px;
        top: 260px;
        left: -130px;
        z-index: -1;

    }

    .bgimg2 {
        position: absolute;
        width: 131px;
        height: 115px;
        top: 660px;
        right: 135px;
        z-index: -1;
    }

    .firstSectionTop {
        display: flex;
        flex-direction: column;
        align-items: center;

        .p_one {

            font-size: 36px;
            color: #000000;
            line-height: 56px;
        }

        .lineElement {
            margin-top: -15px;
            border-radius: 10px;
            height: 3px;
            width: 56px;
            background-color: #000000;
        }

        .p_two {
            margin-top: 33px;
            width: 952px;
            height: 60px;
            text-align: center;
            font-size: 18px;
            font-weight: 300;
            color: #7D7987;
        }

    }



    .firstSectionMain {
        display: flex;
        flex-direction: column;
        align-items: center;

        .firstSectionMainTop {
            display: flex;
            gap: 36px;
            margin-top: 80px;


            div {
                min-width: 350px;
                min-height: 354px;
                border-radius: 20px;
                background-color: #ffffff;
                box-shadow: 0px 35px 80px 45px rgba(0, 0, 0, 0.04);
                -webkit-box-shadow: 0px 35px 80px 45px rgba(0, 0, 0, 0.04);
                -moz-box-shadow: 0px 35px 80px 45px rgba(0, 0, 0, 0.04);
            }

            h2 {
                font-weight: 700;
                font-size: 24px;
                line-height: 56px;
            }

            p {
                font-weight: 300;
                color: #7D7987;
                line-height: 28px;
            }

            .searchDoctor {
                padding: 57px 0 0 34px;
            }

            .onlinePharmacy {
                padding: 62px 0 0 36px;
            }

            .consultation {
                padding: 47px 0 0 38px;
            }
        }

        .firstSectionMainBottom {
            display: flex;
            gap: 36px;
            margin-top: 36px;

            div {
                min-width: 350px;
                min-height: 354px;
                border-radius: 20px;
                background-color: #ffffff;
                box-shadow: 0px 35px 80px 45px rgba(0, 0, 0, 0.04);
                -webkit-box-shadow: 0px 35px 80px 45px rgba(0, 0, 0, 0.04);
                -moz-box-shadow: 0px 35px 80px 45px rgba(0, 0, 0, 0.04);
            }

            h2 {
                font-weight: 700;
                font-size: 24px;
                line-height: 56px;
            }

            p {
                font-weight: 300;
                color: #7D7987;
                line-height: 28px;
            }

            .detailsInfo {
                padding: 46px 0 0 38px;
            }

            .emegencyCare {
                padding: 69px 0 0 38px;
            }

            .tracking {
                padding: 52px 0 0 38px;
            }
        }

        button {
            margin-top: 69px;
            width: 200px;
            height: 56px;
            color: #458ff6;
            font-weight: 500;
            font-size: 18px;
            background-color: #ffffff;
            border-radius: 55px;
            border: 1px solid #458ff6;
            cursor: pointer;
        }

        button:hover {
            background-color: #f8d929;
            color: #ffffff;
            border: 1px solid #1f1534;
        }
    }
}



.secondSection {
    position: relative;
    width: 100%;


    .bgimg3 {
        position: absolute;
        max-width: 131px;
        max-height: 115px;
        right: -244px;
        top: 455px;

    }

    .secondSectionMain {
        display: flex;
        align-items: center;
        width: 1273px;
        height: 477px;
        margin: 220px 0 0 135px;
        position: relative;

        img {
            height: 477px;
            width: 650px;
        }




        .text {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 486px;
            height: 388px;
            margin: 57px 0 32px 137px;

            h2 {
                font-size: 36px;
                line-height: 56px;
                font-weight: 700;
            }

            .lineElement2 {

                border-radius: 10px;
                min-height: 2px;
                min-width: 56px;
                background-color: #000000;
            }

            p {
                margin-top: 31px;
                font-size: 18px;
                font-weight: 300;
                color: #7D7987;
                line-height: 30px;
            }

            button {
                width: 200px;
                height: 56px;
                color: #458ff6;
                font-weight: 500;
                font-size: 18px;
                background-color: #ffffff;
                border-radius: 55px;
                border: 1px solid #458ff6;
                cursor: pointer;
            }

            button:hover {
                background-color: #f8d929;
                color: #ffffff;
                border: 1px solid #1f1534;
            }
        }
    }
}

.thirdSection {

    .thirdSectionMain {
        display: flex;
        align-items: center;
        width: 1156px;
        height: 434px;
        margin: 229px 0 0 250px;

        .text {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 486px;
            height: 388px;
            margin: 36px 71px 23px 0;

            h2 {
                font-size: 36px;
                line-height: px;
                font-weight: 700;
            }

            .lineElement3 {
                border-radius: 10px;
                min-height: 2px;
                min-width: 56px;
                background-color: #000000;
            }

            p {
                margin-top: 31px;
                font-size: 18px;
                font-weight: 300;
                color: #7D7987;
                line-height: 30px;
            }

            button {
                min-width: 200px;
                min-height: 56px;
                color: #458ff6;
                font-weight: 500;
                font-size: 18px;
                background-color: #ffffff;
                border-radius: 55px;
                border: 1px solid #458ff6;
                cursor: pointer;
                margin-top: 40px;
            }

            button:hover {
                background-color: #f8d929;
                color: #ffffff;
                border: 1px solid #1f1534;
            }


        }


    }
}

.fourthSection {
    margin: 251px 0 0 190px;
    position: relative;
    width: 1220px;
    height: 502px;

    .fourthSectionMain {
        display: flex;
        align-items: center;
        flex-direction: column;


        .bgImgSectionFour {
            position: absolute;
            z-index: 0;
            max-width: 1120px;
            max-height: 425px;
            margin: 15px 48px 62px 52px;
        }

        .bgImg5 {
            position: absolute;
            margin: 1px -1089px 0px 0px;
            max-width: 131px;
            max-height: 115px;
            overflow: hidden;

        }


        .bgImg6 {
            position: absolute;
            margin: 279px 1083px 0px 0px;
            z-index: -1;
        }

        .top {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 30px 0 0 0;
            z-index: 1;

            h2 {
                color: #ffffff;
                font-size: 36px;
                line-height: 48px;
            }

            .lineElement4 {
                border-radius: 6px;
                min-height: 2px;
                min-width: 56px;
                max-width: 56px;
                background-color: #ffffff;
            }
        }

        .middle {
            display: flex;
            align-items: center;
            margin: 66px 0 0 0;
            width: 75%;
            justify-content: space-between;
            z-index: 1;

            .bottomLeft {
                display: flex;
                align-items: center;
                gap: 30px;
                color: #ffffff;
            }

            .bottomRight {
                font-size: 19px;
                line-height: 30px;
                color: #ffffff;
            }
        }

        .bottomNav {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 90px;
            margin: 120px 0 0 0;
            position: relative;
        }
    }

}