* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Mulish", sans-serif;
}

ul,
li,
p,
a {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

body {
    max-width: 1600px;
    margin: auto;
    display: block;
    background-color: #ffffff;
}

.topNav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 56px 192px 0 191px;

    .logo {
        width: 160px;
        height: 41px;
    }

    .topNavLinks {
        display: flex;
        align-items: center;
        color: #1f1534;
        font-size: 18px;
        gap: 40px;

        a {
            color: #1f1534
        }
    }
}

.bgelement {
    position: relative;

    .element {
        height: 115px;
        width: 133px;
        position: absolute;
        top: 146px;
        left: 2px;
    }
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 109px;
    width: 100%;

    .advert {
        margin: 163px 0 0 238px;
        height: 338px;
        width: 445px;

        .topAd {
            font-style: bold;
            font-size: 48px;
            color: #000000;
        }

        .bottomAd {
            font-size: 21px;
            color: #7d7987;
        }
    }

    .image {

        margin: 177px 163px 0 0;
        height: 598px;
        width: 693px;
    }
}