$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 480px;


$padding-big: 24px;
$padding-medium: 16px;
$padding-small: 8px;

$red: #ed254e;
$yellow: #f9dc5c;
$green: #c2eabd;
$blue: #011936;
$gray: #465362;

* {
    box-sizing: border-box;
}


body {
    margin: 0px;
    font-family: Arial, sans-serif;
}

ul,
li,
p,
a {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

#app {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100%;
    max-width: $xl;
    padding: 0 $padding-medium;
    height: 90px;
    background-color: $green;
    display: flex;
    align-items: center;

    .logo {
        font-size: 24px;
        font-weight: bold;
        padding: $padding-small;
    }

    &>nav:nth-child(1) {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;


        ul.desktop {
            display: flex;
            column-gap: 9px;


            li {
                a {
                    font-size: 21px;
                    color: $red;
                }
            }

            li.sub {
                position: relative;

                ul {
                    position: absolute;
                    max-height: 0;
                    overflow: hidden;
                    transition: max 0.7s ease-in-out;
                    background-color: $green;
                    min-width: 200px;

                    li {
                        padding: 5px $padding-big;
                    }
                }

                &:hover {

                    ul {
                        max-height: 150px;
                    }
                }
            }
        }
    }

    &>nav:nth-child(2) {
        display: none;
    }
}