
body {
    background-image: url("http://127.0.0.1:5500/hw_001/eve logo.png");
    background-repeat: no-repeat;
    background-position: cernter center;
    background-attachment: fixed;
    background-size: cover;
}

.linkas {
    text-decoration: none;
    color: beige;
    font-size: 40px;
}


.box {
    width: 150px;
    height: 150px;
    border: 1px solid black;
}

.box.red {
    background-color: #dc143c70;
    border-color: #dc143c;
}

.box.blue {
    background-color: #6495ed70;
    border-color: #6495ed;
}

section{
    margin: 30px;
    border: 1px solid gray;
    min-height: 400px;
    position: relative;
}

.box1 {
    position: relative; 
    top: 30px;
    left: 100px;
}

.box2 {
    position: absolute;
    top: 30px;
    left: 30px;

}

.box3 {
    position: fixed;
    top: 30px;
    left: 30px;
}

h1 span {
    font-size: 18px;
    position: relative;
    bottom: 22px;
    right: 4px;
}

.big-box {
    border: 3px solid darkorange;
    display: inline-block;
    position: relative;
}

.big-box img {
    width: 400px;
}

.big-box h2 {
    position: absolute;
    bottom: 50px;
}