* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

:root {
    --main-color-light: #9A54BC;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.topPurple {
    width: 100%;
    height: 20px;
    text-align: center;
    background-color: #60267F;
    color: #ffffff;
    font-size: 16px;
    padding: 1px 0 0 0;
}

.topPurple .topPurplePara span {
    text-decoration: underline;
}

.topHeader {
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: tomato; */
    padding: 0 50px;

    box-shadow: 1px 5px 5px -4px rgba(105, 105, 105, 0.3);
    -webkit-box-shadow: 1px 5px 5px -4px rgba(105, 105, 105, 0.3);
    -moz-box-shadow: 1px 5px 5px -4px rgba(105, 105, 105, 0.3);

}

.menu {
    width: 670px;
    display: flex;
    justify-content: space-between;
    /* background-color: lawngreen; */
}

.linksContainer {
    width: 80%;
    display: flex;
    /* background-color: darkkhaki; */
    justify-content: space-between;
    align-items: center;
    list-style: none;
    text-decoration: none;
    color: #2b0236;
    font-weight: 700;
}

.headerButton {
    cursor: pointer;
    padding: 5px;
    background-color: transparent;
    border-radius: 7px;
    font-size: 12px;
    font-weight: 700;
    border: 2px solid var(--main-color-light);
    color: var(--main-color-light);

}

.headerButton:hover {
    background-color: var(--main-color-light);
    color: white;
}

/* button{
    background-color: var(--main-color-light);;
    border: 2px solid var(--main-color-light);;
    padding: 10px;
} */

.firstSection {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    flex-direction: column;
    height: 200px;
}

.firstSection h1 {
    font-size: 56px;
    text-align: center;
    color: #2b0236;
    letter-spacing: 1.2;

}

.firstSection button {
    padding: 15px;
    background-color: var(--main-color-light);
    border: 1px solid var(--main-color-light);
    color: white;
    border-radius: 7px;
    font-weight: 700;
    cursor: pointer;
}

.firstSection button:hover {
    background-color: var(--main-color-light);
    ;
    color: white;
}

.sectionElipses {
    /* top: 100px; */
    height: 500px;
    /* background-color: lightgreen; */
    position: relative;

}

.absolute {
    position: absolute;
}

.ellipseSmall {
    top: 75px;
}

.phone {
    top: 85px;
}

.phoneLogo {
    top: 195px;
    /* background-color: red; */
}

.buttonSectionElipses {
    top: 370px;
    cursor: pointer;
    padding: 5px 10px;
    background-color: white;
    border-radius: 3px;
    /* font-size: 12px;
    font-weight: 700; */
    border: 2px solid var(--main-color-light);
    color: var(--main-color-light);
}

.buttonSectionElipses:hover {
    color: white;
    background-color: var(--main-color-light);
}

.sectionIcons {
    flex-direction: column;
    gap: 50px;
}

.containerIcons {
    width: 30%;
    justify-content: space-between;
}