* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    height: 500vh;
}

:root {
    --main-color-ligth: #9A54BC;
    --main-color-dark: #60267F;
    --main-text-color: #A79d9d;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}


.topPurple {
    width: 100%;
    height: 20px;
    text-align: center;
    background-color: #60267F;
    color: white;
    font-size: 10px;
    padding: 3px 0 0 0;
}

.topHeader {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    box-shadow: 1px 5px 5px -4px rgba(105, 105, 105, 0.3);
    -webkit-box-shadow: 1px 5px 5px -4px rgba(105, 105, 105, 0.3);
    -moz-box-shadow: 1px 5px 5px -4px rgba(105, 105, 105, 0.3);
}

.menu {
    width: 670px;
    display: flex;
    justify-content: space-between;
}

.linksContainer {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    text-decoration: none;
    color: #2B0236;
    font-weight: 700;
}

.headerButton {
    padding: 6px;
    background-color: transparent;
    border-radius: 7px;
    font-size: 12px;
    font-weight: 700;
    border: 2px solid var(--main-color-ligth);
    color: var(--main-color-ligth);
    cursor: pointer;
}

.headerButton:hover {
    background-color: var(--main-color-ligth);
    color: white;
}

.firstSection {
    flex-direction: column;
    height: 300px;
    row-gap: 23px;
}

.firstSection h1 {
    font-size: 56px;
    text-align: center;
    color: #2B0236;
    letter-spacing: 1.2px;
}

.firstSection button {
    padding: 15px;
    background-color: var(--main-color-ligth);
    border: 1px solid var(--main-color-ligth);
    color: white;
    border-radius: 3px;
    font-size: 12px;
    cursor: pointer;
    font-weight: 700;
}

.firstSection button:hover {
    background-color: transparent;
    color: #9A54BC;
}

.sectionElipses {
    position: relative;
    /* background-color: lightgreen; */
    height: 500px;
}

.absolute {
    position: absolute;
}

.ellipseSmall {
    top: 75px;
}

.phone {
    top: 85px;
}

.phoneLogo {
    top: 195px;
}

.buttonSectionElipses {
    top: 420px;
    padding: 5px 10px;
    color: var(--main-color-ligth);
    border: 2px solid var(--main-color-ligth);
    background-color: white;
    border-radius: 3px;
    cursor: pointer;
}

.buttonSectionElipses:hover {
    background-color: var(--main-color-ligth);
    color: white;
}

.sectionIcons {
    flex-direction: column;
    gap: 50px;
}

.containerIcons {
    justify-content: space-evenly;
    width: 70%;
}

.containerIcons img {
    width: 100px;
    height: 100px;
}

.icon5 {
    height: 175px;
}



.sectionCollabHelp {
    margin-top: 100px;
    flex-direction: column;
}

.collabHelpMainContainer {
    height: 500px;
    width: 80%;
    align-items: flex-start;
    margin-top: 45px;
    justify-content: space-evenly;
}

.collabHelpLeftContainer {
    height: 500px;
    width: 500px;
    margin: 16px 0px 0px 0px;
    flex-direction: column;
    justify-content: flex-start;
}

.collabHelpButtonContainer {
    width: 100%;
    padding: 2px;
    box-shadow: -2px 7px 8px -4px rgba(204, 199, 199, 0.49);
    -webkit-box-shadow: -2px 7px 8px -4px rgba(204, 199, 199, 0.49);
    -moz-box-shadow: -2px 7px 8px -4px rgba(204, 199, 199, 0.49);

}

.collabHelpButtonContainer button {
    width: 50%;
    background-color: white;
    border: 2px solid white;
    padding: 7px;
    border-radius: 3px;
    font-weight: 600;
}

.collabHelpButtonContainer button:hover {
    background-color: var(--main-color-dark);
    border: 4px solid var(--main-color-ligth);
    color: white;
    cursor: pointer;
}

.collabHelpTextContainer {
    flex-direction: column;
    gap: 10px;
    width: 95%;
    margin-top: 45px;
}

.collabHelpTextContainer p {
    background-color: #F2F2F2;
    padding: 1.8rem 1rem;
    text-align: left;
    width: 100%;
}

.semiBold {
    font-weight: 500;
}

.collabHelpImg img {
    width: 300px;
}

.sectionVideo {
    margin-top: 100px;
    flex-direction: column;
    gap: 40px;
}

.sectionVideo p {
    width: 70%;
    text-align: center;

}

.sectionVideo iframe {
    min-width: 900px;
    height: 400px;
    border: 4px solid crimson;
    border-radius: 30px;
}

.projectsDone {
    margin-top: 100px;
    flex-direction: column;
}

.cardContainer {
    margin-top: 40px;
    width: 75%;
    justify-content: space-evenly;
}

.card {
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
}

.cardContainer img {
    width: 400px;
    height: 340px;
    /* // border: 3px solid red; */
}

.card p {
    color: var(--main-color-dark);
    font-weight: 600;
    padding-left: 15px;
}

.card span {
    font-weight: 400;
    padding-left: 15px;
}

.readyToStart {
    margin-top: 200px;
    flex-direction: column;
    gap: 30px;
}

.readyToStartTopP {
    color: var(--main-text-color);
}

.readyToStrartTopDiv {
    gap: 15px;
}

.monthly {
    color: var(--main-text-color);
}

.yearly {
    font-weight: 700;
}

.discount {
    font-size: 14px;
    background-color: #FFE87A;
    padding: 5px 10px;
}

.readyToStartCard {
    flex-direction: column;
    border: 2px solid #AAAAAA;
    width: 250px;
    height: 400px;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px 25px;
    gap: 25px;
}

.readyToStartCard ul {
    margin-left: 18px;
}

.readyToStartCard p {
    font-weight: 500;
}