* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.topPurple {
    width: 100%;
    height: 20px;
    text-align: center;
    background-color: #60267F;
    color: #ffffff;
    font-size: 16px;
    padding: 1px 0 0 0 ;
}

.topPurple .topPurplePara span {
    text-decoration: underline;
}

.topHeader {
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: tomato;
    padding: 0 50px;
}

.menu {
    width: 670px;
    display: flex;
    justify-content: space-between;
    background-color: lawngreen;
}

.linksContainer {
    width: 80%;
    display: flex;
    background-color: darkkhaki;
    justify-content: space-between;
    list-style: none;
    text-decoration: none;
    color:#2b0236;
    font-weight: 700;
}