* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    height: 500vh;
}

:root {
    --main-color-ligth: #9A54BC;
    /* --main-color-ligth: #1c2cd6; */
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.topPurple {
    width: 100%; 
    height: 20px;
    text-align: center;
    background-color: #60267F;
    color: white;
    font-size: 10px;
    padding: 3px 0 0 0;
}

.topHeader {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    box-shadow: 1px 5px 5px -4px rgba(105,105,105,0.3);
    -webkit-box-shadow: 1px 5px 5px -4px rgba(105,105,105,0.3);
    -moz-box-shadow: 1px 5px 5px -4px rgba(105,105,105,0.3);
}

.menu {
    width: 670px;
    display: flex;
    justify-content: space-between;
}

.linksContainer {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    text-decoration: none;
    color: #2B0236;
    font-weight: 700;
}

.headerButton {
    padding: 6px;
    background-color: transparent;
    border-radius: 7px;
    font-size: 12px;
    font-weight: 700;
    border: 2px solid var(--main-color-ligth);
    color: var(--main-color-ligth);
    cursor: pointer;
}

.headerButton:hover {
    background-color: var(--main-color-ligth);
    color: white;
}

.firstSection {
    flex-direction: column;
    height: 300px;
    row-gap: 23px;
}

.firstSection h1 {
    font-size: 56px;
    text-align: center;
    color: #2B0236;
    letter-spacing: 1.2px;
}

.firstSection button {
    padding: 15px;
    background-color: var(--main-color-ligth);
    border: 1px solid var(--main-color-ligth);
    color: white;
    border-radius: 3px;
    font-size: 12px;
    cursor: pointer;
    font-weight: 700;
}

.firstSection button:hover {
    background-color: transparent;
    color: #9A54BC;
}

.sectionElipses{
    position: relative;
    /* background-color: lightgreen; */
    height: 500px;
}

.absolute{
    position: absolute;
}

.ellipseSmall {
    top: 75px;
}

.phone{
    top: 85px;
}

.phoneLogo{
    top: 195px;
}

.buttonSectionElipses {
    top: 370px;
    padding: 5px 10px;
    color: var(--main-color-ligth);
    border: 2px solid var(--main-color-ligth);
    background-color: white;
    border-radius: 3px;
    cursor: pointer;
}

.buttonSectionElipses:hover {
    background-color: var(--main-color-ligth);
    color: white;
}

.sectionIcons {
    flex-direction: column;
    gap: 50px;
}

.containerIcons {
    justify-content: space-evenly;
    width: 70%;
}




.sectionCollabHelp {
    margin-top: 50px;
    flex-direction: column;
}

.collabHelpMainContainer {
    height: 500px;
    width: 100%;
    align-items: flex-start;
}

.collabHelpLeftContainer {
    background-color: lightblue;
    height: 500px;
    width: 500px;
    /* margin-top: 16px; */
    margin: 16px 0px 0px 0px;  
    flex-direction: column;
    justify-content: flex-start;  
}

.collabHelpButtonContainer {
    width: 100%;
    /* justify-content: row; */
    padding: 2px;
}

.collabHelpButtonContainer button {
    width: 50%;
    background-color: white;
    border: 2px solid white;
    padding-top: 5px;
    padding-bottom: 5px;
}

.collabHelpButtonContainer button:hover{
    background-color: #60267F;
    color: white;
    cursor: pointer;
}

.video {
    margin-top: 100px;
    flex-direction: column;  
    gap: 50px;
}

.video p {
    width: 65%;
    text-align: center;
}

.projectsDone {
    margin-top: 100px;
    gap: 50px;
    flex-direction: column;
}

.cardContainer {
    width: 80%;
    /* background-color: burlywood; */
    gap: 40px;
}

.card {
    gap: 20px;
    flex-direction: column;
    align-items: flex-start;
}

.card img {
    width: 350px;
    height: 250px;
}

.card p {
    color: #60267F;
    font-weight: 600;
    margin-left: 20px;
}

.card span{
    margin-left: 20px;
    font-weight: 500;
}
