

body {
    background-color: black;
}


[abtas="daiktas"] {
    color: wheat;
}

#vienas {
    color: chocolate;
}

.yo-yo {
    color: honeydew;
}

h2 {
    color:aquamarine;
}



.yello .yello {
    color: saddlebrown;
}

.yello {
    color: blue;
}

.labukas {
    color: skyblue;
}

.bebras {
    color: darkblue;
    font-style: italic;
}

.bebras + div {
    color: darkred;
    font-style: italic;
}

.briedis {
    color: darkblue;
    font-style: italic;
}

.briedis ~ div {
    color: darkred;
    font-style: italic;
}

.box {
    width: 200px;
    height: 200px;
    background-color: chocolate;
    position: relative; 
    left: 0;
    transition: all 1.5s;
}

.box:hover {
    background-color: crimson;
    left: 50px;
}

input[type="text"] {
    margin-top: 30px;
    background-color: #444;
    color: white;
    border: 1px solid green;
    outline: none;
}

input[type="text"]:focus {
    border: 1px solid red;
    border-radius: 5px;
}

input[type="checkbox"] {
    border: 1px solid crimson;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]:checked + h4 {
    color: red;
}

li:nth-child(2) {
    color: skyblue;
}

li {
    border-bottom: 1px solid green;
}

li:not(.vilkas) {
    font-weight: 700;
}

li:last-child {
    color: purple;
    border-bottom: none;
}

